# Ignore compiled binary files.
bin

# Ignore Eclipse configuration files.
.project
.classpath

# Ignore prototype code and assets.
src/clockwork/prototype
assets/prototype

# Ignore documentation because it isn't licensed yet.
doc